*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color:inherit;
	text-decoration: none;
}

.medsos{
	padding: 5px 0;
	background-color: #8fc982;
}
.medsos ul li {
	display: inline-block;
	color:#fff;
	margin-right: 10px;
	

}
.container{
	width: 80%;
	margin: 0 auto;

}
header{

}
header h1{
	float: left;
	padding: 15px 0;
	color: #72be61;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a: hover{
	background-color: #72be61;
	color: #fff;
}
.active{
	background-color: #72be61;
	color: #fff;
}
.banner{
	height: 80vh;
	width: 205vh;
	display: inline-block;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;	
	


}
.banner {
	width: 100%;
	height: auto;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}
.banner h2{

}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #72be61;
}

.about{
	background-color: #f0fdf4;
}
.about p {
	color: #4c5351;
	word-spacing:2px;
	line-height: 25px;
	text-align: center;
	text-align: center;
}
footer{
	padding: 10px 0;
	background-color: #000000;
	color: #fff;
	text-align: center;
}
.Product{
	background-color: #ffffff;
	width: 100%;


}
.card{
	width: 250px;
	padding: 10px;
	box-shadow: 1px 1px 5px grey;
	border-radius: 5px;

}
.img-card{
	max-width: 250px;
	max-height: 250px;
	overflow: hidden;
	

}
img{
	width: 100%;
	

}
section h4{
	font-family: sans-serif;
}

section h5{
	color: #2a932d;
}
.btn-block{
	width: 100%;
	background-color: #2a932d;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px ;
	margin-top: 20px;
	color: #fff;

}


}
section a{
	color: #fff;
	text-decoration: none;


}
.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contact{
	background-color: #f5f3ee;
	
}
section h6{
	text-align: center;
	padding: 20px 0;
	color: #8fc982;
	font-size: bolder;
}
.contact{
	text-align: center;
	font-family: serif;
}



@media screen and (max-width: 768px){
	.container {
		width: 90%;

	}
	header h1 {
		text-align: center;
		float: none;

	}
	header ul {
		text-align: center;
		float: none;


	}
	.box .col-4{
		width: 100%;
		float: none;
	}
}
